.main-block {
	background-color: #F2E9DC;
}
.main-col{
	text-align: center;
}
.content{
	width: 100%;
	border: 4px solid #595959;
	margin: 4px;
}
.breadcrumb{
	background-color: #F2E9DC;
}
.btn {
	background-color: #91C499;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#image-block img.bw-photo {
	border: 1px solid red;
	border-radius: 50%;
	filter: grayscale(3);
	box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.fixed{
	position: fixed;
	z-index: 100;
	background-color: #F2E9DC;
	width: 100%;
	top: 0;
}
.main-row:not(:first-child) {
	margin-top: 10px;
}
.main-row:nth-child(2){
	margin-top: 145px;
}
body{
	background-color: #F2E9DC;
}
