.main-col{
	text-align: center;
}

.card {
	background-color: #F2E9DC;
	border: 4px solid #595959;
	margin: 5px;
}

.main-row{
	margin-top: 10px;
}

.button-news{
	font-size: 1.5rem;
	margin-top: 50px;
}
.card-img{
	width: 40%;
	box-shadow: 1px 1px 2px black, 0 0 5px darkblue;
}