.card-img{
	width: 40%;
	align-items: center;
	box-shadow: 1px 1px 2px black, 0 0 5px darkblue;
}
h2{
	align-content: center;
}
p{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.card-img1{
	width: 70%;
	box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkblue;
}
#myChart{
	margin: auto;
}